body { background-color: rgba(169, 169, 169, 0); margin: 0px auto; overflow: hidden; }


#weekpart {
    font-family: "Kozuka Gothic Pro H", sans-serif;
    font-weight: bold;
}
#date {
    font-family: "Kozuka Gothic Pro M", serif;
    font-weight: bold;
}
#weekday {
    font-family: "Tahoma", sans-serif;
}
#daytime {
    font-family: "Kozuka Gothic Pro M", serif;
}


#weekpart {
    fill: #fff;
    text-transform: uppercase;
    font-size: 280px;
}

#date{
    fill: #000;
    font-size: 237px;
    letter-spacing: 7px;
}

#weekday{
    fill: #fff;
    text-transform: uppercase;
    font-size: 130px;
}

#daytime{
    fill: rgb(210, 182, 222);
    text-transform: lowercase;
    font-size: 95px;
    letter-spacing: 35.5px;
}


#hi-band {
    fill: #cba2ed;
}

#lo-band {
    fill: #000;
}

#romb {
    fill: #000;
}


#hi-band-back {
    fill-opacity: 1.0;
}
#hi-band-front {
    fill-opacity: 0.7;
}
#romb-back {
    fill-opacity: 1.0;
}
#romb-front {
    fill-opacity: 0.7;
}
